/* COMMON */

html,
body {
  height: 100%;
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content .chirp_logo_bird {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.content .chirp_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.content .small_writing {
    color: gray;
    text-align: center;
}

/* POST */
.post_form {
  display: block;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.post_form .form_sub {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.post_form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.post_form #box {
    background-color: rgb(67, 40, 134);
    color: white;
}

.post_form textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
}

.posts ul {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}

li {
  list-style: none;
}

.posts li {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 17px;
  list-style: none;
}

.posts li .dropdown1 {
    width: 1000%;
    position: absolute;
    right: 30px;
    top: 25px;
}

.posts li .menu_icon {
  width: 3%;
  position: absolute;
  right: 30px;
  top: 18px;
}

/* .menu_icon {
  width: 5% !important;
} */

.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu a {
  text-decoration: none;
}

.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 50%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: gray;
}

/* .posts button {
    display: none;
} */

p {
    overflow: hidden;
    word-wrap: break-word;
}

@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-style: 20px;
  }
}
