{% extends 'base.html'  %}
{% block content %}
{% load static %}


<section class="content">
    <header>
        <img class="chirp_logo_bird"  src="{% static 'img/seagull.png' %}" />
        <img class="chirp_logo" src="{% static 'img/Chirper_logo.jpg' %}" />
        <p class="small_writing">Only slightly better than Twitter...</p>
    </header>

    <section class="post_form">
        <form class="form_sub" action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" required>
            <textarea name="body" placeholder="Tell us anything..." required></textarea>
            <input type="file" name="image">
            <input id="box" type="submit" value="CHIRP">
        </form>
    </section>
    <section class="posts">
        <ul >
            {% for post in posts %}
            <li>
                <!-- <div>
                    <img class="menu_icon js-menu-icon"  src="{% static 'img/menu2.png' %}">
                    <p>Edit</p>
                    <p>Delete</p>
                </div> -->
                <img class="menu_icon js-menu-icon"  src="{% static 'img/menu2.png' %}"/>
                <div class="menu">
                    <a href="/delete/{{ post.id }}/">Delete</a>
                    <a href="/edit/{{post.id}}/">Edit</a>
                </div>
                <div class="logo">
                    <img src="{% static 'img/user.png' %}" />
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name }} <br /> </div>
                    <div class="datetime">{{ post.createdAt }} <br /> </div>
                    <p>{{ post.body }} <br /> </p>
                    {% if post.image  %}
                    <img src="{{post.image.url}}" style="width: 300px;" alt="">
                    {% endif %} <br>
                    <a href="/like/{{post.id}}/"><img style="width: 30px; " src="{% static 'img/love.png' %}" alt=""></a>
                    {{post.like}}

                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script   src="https://code.jquery.com/jquery-3.6.1.js"   integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="   crossorigin="anonymous"></script>
    <script src="{% static 'js/post.js' %}"></script>
</section>

{% endblock %}